
.app-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 3;
  @include tablet {
    padding: 20px;
  }
  @include desktop {
    padding: 40px;
  }  

  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    max-width: 100vw;
    height: 70px;
    overflow: hidden;
    @include tablet {
      height: 90px;
    }
    @include desktop {
      height: 130px;
    }
    img {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }

  a {
    font-size: $logo-font;
    color: $primary-color-text;
  }
  .fas {
    font-size: 2rem;
    cursor: pointer;
    color: $primary-color-text;
  }
  .filter-container {
    width: 85%;
    @include tablet {
      width: 40%;
    }
  }
  .filter-input {
    display: flex;
  }
  /* state */
  &.no-search {
    .filter-container,
    .fa-times {
      display: none;
    }
    .navbar-logo,
    .fa-search {
      display: block;
    }
    @include desktop {
      .filter-container {
        display: block;
      }
      .navbar-icon {
        display: none;
      }
    }
  }

  &.search {
    .filter-container,
    .fa-times {
      display: block;
    }
    .navbar-logo,
    .fa-search {
      display: none;
    }
  }
}
